@font-face {
    font-family: 'roboto_bold';
    src: url('../../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../../fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto_madium';
    src: url('../../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../../fonts/roboto-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto_regular';
    src: url('../../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../../fonts/roboto-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'raleway_bold';
    src:url('../../fonts/raleway-bold-webfont.woff') format('woff'),
        url('../../fonts/raleway-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lato_semibold';
    src: url('../../fonts/lato-semibold-webfont.woff') format('woff'),
         url('../../fonts/lato-semibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'roboto_bold';
	src: url('../../fonts/roboto-bold-webfont.woff') format('woff'),
		 url('../../fonts/roboto-bold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'roboto_medium';
	src: url('../../fonts/roboto-medium-webfont.woff') format('woff'),
		 url('../../fonts/roboto-medium-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'roboto_regular';
	src: url('../../fonts/roboto-regular-webfont.woff') format('woff'),
		 url('../../fonts/roboto-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'raleway_bold';
	src: url('../../fonts/raleway-bold-webfont.woff') format('woff'),
		 url('../../fonts/raleway-bold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'lato_semibold';
	src: url('../../fonts/lato-semibold-webfont.woff') format('woff'),
		 url('../../fonts/lato-semibold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'opensans_semibold';
	src: url('../../fonts/opensans-semibold-webfont.woff') format('woff'),
		 url('../../fonts/opensans-semibold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}