
@charset "UTF-8";
@import "../global.scss";
@import "../settings/_variables.scss";

/* Dots */
.slick-dots{

  list-style: none;
  margin: 0 auto;
  display: flex;
}

.slick-dots li{

  margin: 0 5px;

  @include media('<=425px'){
    margin: 0 2px;
  }
}

.slick-dots li button{

  font-size: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.12), inset 0 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  @include media('<=768px'){
    width: 12px;
    height: 12px;
  }

  @include media('<=425px'){
    width: 10px;
    height: 10px;
  }
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}

.slick-dots .slick-active button{
  background-color: $label_color;
}